
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.container
{
    border: 2px solid black;
    width: 22%;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(191, 190, 190);
}

.button{
    padding: 20px;
    margin: 5px 5px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 52px;
}

